#root {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

.contenedor {
  height: 100vh;
  width: 100%;
  display: flex;
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*he puesto esta fuente pero no es la que hay que poner, la buena es Inter (hay que buscarla)*/
}

.logotipo {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #2A5677;
}

.logotipo > img {
  width: 100px;
  height: 100px;
}

.menu {
  background-color: #2A5677;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
}

.contenidoMain {
  width: 90%;
  padding: 10px;
  padding-left: 30px;
  background-color: white;
  margin-left: 30px;
}

.usuario {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagenUsuario {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.listado {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listado > ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.listado > ul > li {
  width: 100%;
  list-style-type: none;
  margin-top: 30px; 
  font-weight: bold;
  display: flex;
  align-items: center;
}

.listado > ul > li:hover {
  color:#d2d3d3;
}

.listado > ul > li > svg {
  padding-right: 20px;
}

.titulo {
  color: #2A5677;
}

.filtradoBusqueda {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.barraBusqueda {
  color: white;
  background-color: #DFECF5;
  display: flex;
  border-radius: 5px;
}

.inputBusqueda {
  background-color: #DFECF5;
  border-radius: 5px;
  border: none;
}

.iconoBusqueda {
  background-color: #5F84A2;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.listadoElementos {
  max-height: 630px;
  width: 95%;
  overflow-y: auto; 
  margin-top: 30px;
}

.listadoElementos::-webkit-scrollbar {
  width: 12px;
}

.listadoElementos::-webkit-scrollbar-track {
  background-color: #5F84A2;
  border-radius: 20px;
}

.listadoElementos::-webkit-scrollbar-thumb {
  background-color: #DFECF5;
  border-radius: 20px;
  border: 2px solid #5F84A2;
}

.elementoListado {
  background-color: #DFECF5;
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.iconoBuque {
  flex: 0 0 40px;
  font-size: 24px;
  text-align: center;
  margin-left: 10px
}

.infoBuque {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 0 16px;
}

.estado {
  display: flex;
  align-items: center;
}

.boton {
  background-color: #5F84A2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

.botonDetalles {
  width: 120px;
  height: 47px;
}

.boton:hover {
  background-color: #DFECF5;
  color: #5F84A2;
  border: 3px solid #5F84A2;
}

.botonesAnyadir {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.botonAnyadir{
  width: 12%;
  height: 40px;
  margin-right: 100px;
}

