#root {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

.contenedor {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*he puesto esta fuente pero no es la que hay que poner, la buena es Inter (hay que buscarla)*/
}

.menu {
  background-color: #2A5677;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
}

.contenidoMain {
  width: 80%;
  padding: 30px;
  background-color: white;
}

.imagenUsuario {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.listado > ul {
  padding: 0;
  margin: 0;
}

.listado > ul > li {
  list-style-type: none;
  margin-top: 30px; 
  font-weight: bold;
}

.listado > ul > li:hover {
  color:#d2d3d3;

}

.listado > ul > li > i {
  padding-right: 20px;
}

.titulo {
  color: #2A5677;
}

.filtradoBusqueda {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.barraBusqueda {
  color: white;
  background-color: #DFECF5;
  display: flex;
  border-radius: 5px;
}

.inputBusqueda {
  background-color: #DFECF5;
  border-radius: 5px;
  border: none;
}

.iconoBusqueda {
  background-color: #5F84A2;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.listadoElementos {
  margin: 5px;
}

.elementoListado {
  background-color: #DFECF5;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  overflow-y: scroll; 
  margin-top:'50px';
}

.iconoBuque {
  flex: 0 0 40px;
  font-size: 24px;
  text-align: center;
  margin-left: 10px
}

.infoBuque {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 0 16px;
}

.estado {
  display: flex;
  align-items: center;
}

.botonDetalles {
  background-color: #5F84A2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin-right: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}