@import "tailwindcss";

@theme {
  --font-sans: "Inter", "ui-sans-serif", "system-ui";
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #5F84A2;
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #DFECF5;
    border-radius: 20px;
    border: 2px solid #5F84A2;
  }
}